.products-list-container{
    background: #fff;
    margin-bottom: 100px;
}

.nextButton{
    margin-top: 30px;
    margin-bottom: 30px;
}

.products-list-error-message-container{
    max-width: 50%;
    margin: auto;
}

.products-list-error-message{
    margin-top: 20% !important;
}

.product-list-title-container{
    margin-top: 20px;
}

@media (max-width: 767px) {
    .product-list-title{
        font-size: 20px;
    }
}