.product-container {
    background-color: #fff;
    max-width: 300px;
    height: 150px;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 1%;
    margin: 20px;
    border: 1px solid;
}

.product-buy {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: .25em;
    border: none;
    padding: .6em 1.2em;
    background-color: #0277BD;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: pt sans, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
    float: right;
}

.product-buy:hover{
    background: #01579B;
}

.product-price {
    float: left;
    padding-top: 5px;
    font-family: "Arial";
    font-size: 25px;
    letter-spacing: -1.4px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: #3c3c3c;
}

.product-name {
    color: #3c3c3c;
    margin: 0px;
}

.product-type {
    color: #818181;
}