.footer {
  width: '100%';
  bottom: 0;
  left: 0;
  background-color: #222;
  padding: 20px 0;
  color: #fff;
}

.footer-github-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.footer-github-link {
  text-decoration: none !important;
  color: #fff !important;
}

.footer-project-name{
  display: inline;
  margin-right: 10%;
}

.footer-github{
  display: inline;
  margin-left: 10%;
}

@media screen and (max-width: 600px) {
  .footer-project-name, .footer-github{
    margin: 0px;
    display: block;
    text-align: center;
  }

  .footer-github{
    margin-top: 10px;
  }
}
